
@{
    ViewData["Title"] = "Crear";
}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <form action="/Post/Crear" method="post">

                <strong>Categoría</strong>
                <select class="form-control" name="Categoria">
                    <option>---Eliga una Categoría---</option>
                    @foreach (var item in ViewBag.cat)
                    {
                        <option value="@item.Nombre">@item.Nombre</option>
                    }
                </select>
                <br />
                <br />
                <strong>Titulo</strong>
                <input class="form-control" name="Titulo" />
                <label>@Html.ValidationMessage("Titulo")</label>
                <strong>Contenido</strong>
                @*<textarea id="Contenido" name="Contenido" runat="server"></textarea>*@
                <textarea class="form-control" id="markdown" name="Contenido"></textarea>
                <strong>Tags</strong>
                <br />
                <select name="tags" id="tags[]" multiple>
                    @foreach (var item1 in ViewBag.cat)
                    {
                        <option value="@item1.Id"> @item1.Nombre </option>

                    }
                </select>
                <br />
                <button class="btn btn-dark">Crear Post</button>
            </form>
        </div>

    </div>
</div>


@*<form method='post' class='form' role='form' name='testform'>
    <div class="form-group " style="padding-top:10px">
        <input class="form-control" id="post_title" name="post_title" type="text" value="Title?">
    </div>
    <div class="form-group">
        <textarea class="form-control" id="markdown" name="post_content"></textarea>
    </div>
    <div>
        <input class='btn btn-default' onclick="" id='submit' name='submit' type='submit' value='Save'>
        <input class='btn btn-default' id='publish' name='publish' type='submit' value='Publish'>
    </div>
</form>*@

<script type='text/javascript'>
    var simplemde = new SimpleMDE({ element: document.getElementById('markdown') });
</script>
